div{
    height: 400px;
    width: 400px;
    background-color: pink;  /*to show the width area when inspect is not running*/
   /* border-width: 3px;
    border-style: groove;
    border-color: magenta;*/
    border: 3px solid magenta;
    border-left: 4px dashed purple;
    border-radius: 50%;

}

h1{
    /*border-width: 2px;
    border-style: dashed;
    border-color: blueviolet;*/
    border: 2px dashed blueviolet;
    border-left: 4px solid purple;
    border-top-left-radius: 50%;
    
}

button{
    border: 2px solid black;
    border-radius: 50%;
}  