div{
    background-color: yellow;
}
/*
form{
    background-color: red;
}
    */

input{
    background-color: inherit;
}

button{
    background-color: inherit;
}

/*for inspect*/
button:hover{
    background-color: red;
}