section{
    margin-top: 100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2x solid black;
    margin: 10px;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}

/*transform*/

#one{
    /*transform: rotate(45deg);
    transform: rotate(90deg);
    transform: rotate(180deg); identifying the one as rotated 180deg will dectate that the block is also rotated,
    here 1 is also rotated bcoz the transform applies on the whole element with its all contents*/
    transform: rotate(-45deg);
}

/*scale*/
#two{
    /*transform: scale(1.5);*/
    transform: scaleX(0.5);
}

/*translate*/

#three{
    /*transform: translate(100px,100px);
    transform: translateX(100px);*/
    transform: translateX(-100px);
}

/*skew*/
#four{
    transform: skew(30deg); /*skew(-30deg)*/
}

/*all shorthands*/
#five{
    transform: rotate(56deg) scale(2) translateX(90px) skew(-45deg);
}
